.page {
  max-width: 1920px;
  margin: 0 auto;  
}

.container {
  display: flex;
  flex-direction: row;
  width: 1250px;
  margin: 40px auto 0 auto;
  gap: 5px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0;
  padding: 0;
  margin: 80px 0 0 0;
}

.item {
  list-style: none; 
  display: flex;
  align-items: center;
  height: 64px;
}

.item:last-of-type {
  margin-top: 70px;
}

.link {
  text-decoration: none;
  color: #8585AD;
  display: block;
  width: 320px;
}

.linkActive {
  color: #F2F2F3;
}

.description {
  opacity: 0.4;
}

.list {
  width: 880px;
  gap: 24px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 828px;
  margin: 0 0 10px 0;
  overflow-y: auto;
  padding: 0 8px 0 44px;
  box-sizing: content-box;
}

.list::-webkit-scrollbar {
  width: 8px; 
}

.list::-webkit-scrollbar-track {
  background: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}