.menu {
  width: 600px;
}

.tab {
  display: flex;
}

.blocks {
  height: calc(100vh - 344px);
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.blocks::-webkit-scrollbar {
  width: 8px; 
}

.blocks::-webkit-scrollbar-track {
  background: #2F2F37;
}

.blocks::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}