.menu {
  width: 600px;
  height: 760px;
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 18px;
  margin: 0;
}

.block {
  max-height: 733px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.block::-webkit-scrollbar {
  width: 8px; 
}

.block::-webkit-scrollbar-track {
  background: #2F2F37;
}

.block::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
